*{
    padding: 0;
    margin: 0;
}
html
{
    background-color:lightsalmon;
}
#negbar a
{
   
    padding: 50px;

    font-size: 15px;
    font-family:cursive;
    font-weight: bolder;   
    text-decoration: none;
}
#Negbar a:visited
{
    color: white;
}
#negbar a:hover
{
    background-color:antiquewhite;
    border-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
   border-bottom-style:groove;
    text-decoration:overline;
}
#negbar
{
background-color: whitesmoke;
    text-align:left;
    margin-left: -30px;
    padding: 30px;
}
h1{
    text-align: center;
    color: white;
    font-family: cursive;
    padding: 30px;
}
p
{
    text-align: center;
    color:black;
    font-family: cursive;
    font-size: 20px;
}
hr
{
    width: 50%;
    margin-left: 25%;
    border-color: black;
    height: 3px;
    background-color: black;
}
#anh1
{
width: 400px;
height: 480px;
background-color: white;
margin: 10px 45px;
float: left;
font-family: cursive;
text-align: center;
}
#anh1 .anhdoan
{
    width: 400px;
    height: 300px;
}
#anh1 p
{
    font-size: 15px;
  
}
a
{
    text-decoration: none;
}
a:visited
{
    color: black;
    cursor: help;
}
#title1
{
    font-size: 50px;
}
#gioithieu
{
width: 100%;
height: 500px;
background-color: lightsalmon;
}