*{
    padding: 0;
    margin: 0;
}
html
{
    background-color:lightsalmon;
}
#negbar a
{
   
    padding: 35px;
    font-family:cursive;
    font-weight: bolder;   
    text-decoration: none;
}
#Negbar a:visited
{
    color: white;
}
#negbar a:hover
{
    background-color:antiquewhite;
    border-radius: 105px;
   border-bottom-style:groove;
    text-decoration:overline;
}
#negbar
{
background-color: whitesmoke;
    text-align:left;
    margin-left: -30px;
    padding: 30px;
}
#negbar a:visited
{
    color: black;
    
}
#selectbar 
{
    
    background-color: white;
    width: 100%;
    height: 50px;
}
#selectbar select
{
    float: right;
    width: 200px;
    height: 50px;
    font-family: cursive;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 20px;
    font-weight: bolder;
}
#selectbar select option
{
    text-align: center;

}
.Themonan
{
    width: 300px;
    height: 300px;
    background-color:bisque;
    margin:30px;
    float:left;
}
#selectbar input
{
    width: 150px; float: right; height: 50px;
    font-family: cursive;
    background-color: white;
    border-radius: 50px;

}
#selectbar input:hover
{
    background-color:burlywood;
}
.Themonan img
{
    width: 300px;
    height: 200px;
}
.Themonan p
{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}
.Themonan p img
{
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.Themonan p a:hover
{
cursor: pointer;
}
.Themonan p img
{
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.hop img
{
    width: 300px;
    height: 200px;
}
.hop p
{
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20px;
}
.hop p img
{
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.hop p a:hover
{
cursor: pointer;
}
.hop p img
{
    width: 20px;
    height: 20px;
    margin-left: 10px;

}
.hop div div
{
    width: 300px;
    height: 300px;
    background-color:bisque;
    margin:30px;
    float:left;
}